body{
  display: flex;
  flex-direction: column;
  padding: 32px 4.25% 32px 4.25%;
  background-color: #F5F6FA;
  height: 100vh;
  align-items: center;
}

.mainPage{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.commentBox{
  width: 100%;
  background-color: #FFFFFF;
  align-self: center;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 8px;
}
.avatar{
  width: 32px;
}

.comments-header{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

p, .time{
  color: #67727E;
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}

.userName{
font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
}

.comments-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreDiv{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F6FA;
  border-radius: 10px;
}

.replyDiv{
  display: inherit;
  column-gap: 8px;
  align-items: center;
}

.replyDiv img{
  width:14px;
  height: 12px;
}

.reply{
font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:#5357B6;
}

.main-reply-box{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.main-reply-div{
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.replyBox{
  width:92%;
  align-self: flex-end;
  background-color: #FFFFFF;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 8px;
  
}

.forReply{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.line{
  width: 2px;
  height:inherit;
  background-color: #E9EBF0;
}

.whos-replying{
  color: rgba(83, 87, 182, 1);
font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}

.addComment{
  width: 100%;
  background-color: #FFFFFF;
  align-self: center;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.addComment-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.addComment-footer button{
  width: 100px;
  height: 48px;
  background-color: rgba(83, 87, 182, 1);
  color: white;
  border:0;
  border-radius: 8px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

#addComment{
  box-sizing: border-box;
  padding:12px 24px;
  border-radius: 8px;
  height: 100px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.you{
  width: 36px;
  height: 19px;
  background-color: #5357B6;
  text-align: center;
  font-family: Rubik;
font-size: 13px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0px;
color: white;

}

.delete-edit{
  display: flex;
  column-gap: 16px;
}

.delete, .edit{
font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin-left: 8px;
}

.delete{
  color:rgba(237, 99, 104, 1);
}

.edit{
  color: rgba(83, 87, 182, 1);
}

.main-deletion-box{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  justify-content: center;
  align-items: center;
}

.deletion-box{
  display: flex;
  flex-direction: column;
  width: 91.5%;
  max-width: 400px;
  background-color:white;
  z-index: 1;
  box-sizing: border-box;
  padding: 24px;
  row-gap: 16px;
  border-radius: 8px;
}

.deletion-box h1{
  font-family: Rubik;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:#334253;
}

.cancel-delete{
  display: flex;
  justify-content: space-between;
}

.deletion-box button{
  width: 48%;
  height: 48px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color:white;
  border:0;
  border-radius: 8px;
}

.cancel{
background-color: #67727E;
}

.lastDelete{
background-color: #ED6368;
}

.update, .submitReply{
  background-color: #5357B6;
  height: 48px;
width: 100px;
border-radius: 8px;
border:0;
font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color:white;


}

button{
  cursor: pointer;
}

.editDiv, .deleteDiv, .replyDiv {
  cursor: pointer;
}